[2021-04-14 07:00] Dentrax opened #38 "POLICY_REPO_CLONE_PATH should default look up current working directory"
[code]

My working dir: `~/src/poc/opal`

[code]

It had better clone repo into current directory in order to keep clean out `$HOME` directory. What do you thing? 🤔

[2021-04-14 09:03] asafc commented on #38
Hi @Dentrax, what a great suggestion :)

I'll change it to clone under the current working directory, and will release a new version later today.

[2021-04-14 09:24] #38 closed

[2021-04-14 09:25] asafc commented on #38
Hi @Dentrax, published opal 0.1.2, should be fixed in this version :)

[2021-04-14 09:27] Dentrax commented on #38
Thanks for the prompt response and action! 🚀

[2021-04-14 20:11] asafc opened #40 "Go over all OPAL's config variables and add descriptions"
Confi (our configuration lib) allows each config var to have a description string. All strings should be well explained and documented.

The acceptance criteria for this issue (updated September 2024):
* Add a test that fails in case of missing description attribute in any of the `confi` variables in the following configuration files
* Ensure the test is passing
* Add descriptive description to an

[2021-04-14 20:15] asafc opened #41 "Helm chart for kubernetes (or terraform module, or both :))"
OPAL is already cloud-native ready and has prebuilt docker images ready to go.
However we want to make it even easier and faster to integrate OPAL quickly in your setup.

We (the maintainers) will probably get to it soon, but if someone is willing to work with us on this, it will speed up the process.

[2021-04-14 20:20] asafc opened #42 "Fix flaky data updater test"
For some reason the data updater test is flaky (sometime does not pass due to timeout on [this line](https://github.com/authorizon/opal/blob/master/opal_client/tests/data_updater_test.py#L110)).

We will get to it soon, but if someone wants to pick this up we are more than happy to guide you and work with you :)

[2021-04-14 20:28] asafc opened #43 "Policy fetcher should know how to deal with 503 (and maybe retry)"
## What's need to be fixed?
* We need to add another if statement [here](https://github.com/authorizon/opal/blob/master/opal_client/policy/fetcher.py#L51) when the `/policy` bundle api (docs [here](https://opal.authorizon.com/redoc#operation/get_policy_policy_get)) returns 503.

* We need to fix the server openapi schema of the route (example how it's done is [here](https://github.com/authorizon/o

[2021-04-14 20:46] asafc opened #44 "Publish update api should enforce JWT claim type to be datasource"
### About OPAL Security model
**Note:** We will soon add the doc about OPAL security in depth, in the meanwhile i am willing to work closely with whoever wants to tackle this

* OPAL security is based on JWTs (Json web tokens).
* Only the OPAL server has a private key and can cryptographically sign on the JWTs.
* OPAL server exposes an API to generate new tokens. This API is protected by a "master

[2021-04-14 20:50] asafc opened #45 "Add option to limit directories in git repo on the server side"
### how it works now
At the moment OPAL server tracks a git repo for sourcing policy code (rego and static data) to its clients. The entire repo is exposed by default to the clients, and the clients decide what directories that want to subscribe to.

### potential improvement
The opal server should potentially accept a config option to only track some directories on the source repo (i,e: have diff

[2021-04-14 21:04] asafc opened #46 "Enhancements to docs (Planned)"
I thought i will open this issue to let whomever interested what are the pending improvements to docs we are planning to add this week :)

If you have more suggestions, please comment on this issue and i will take this into account.

### Planned improvements

- [x] complete the docker tutorial with a full example of how to deploy to production with all security parameters, currently this is only d

[2021-04-14 21:06] asafc opened #47 "More tests wanted"
OPAL is pretty well tested (we have over 40 tests) but more tests is always better. :)

If someone wants to contribute more tests, please reach out and we will be happy to guide you :)

[2021-04-14 21:11] asafc opened #48 "More data fetcher providers wanted"
### What are fetch providers?
FetchProviders are the components OPAL uses to fetch data from sources on demand.

Fetch providers are designed to be extendable, and you can easily create more fetch providers to enable OPAL to fetch data from your own unique sources (e.g. a SaaS service, a new DB, your own proprietary solution, ...)

[We have a guide on how to write new fetch providers](https://gith

[2021-04-20 07:43] eshepelyuk commented on #41
Hi @asafc

If you're not in rush - I'm ready to pick up Helm chart, at least inital one.
Although, It could take couple of weeks.

Plz feedback.

[2021-04-20 08:32] asafc commented on #41
Sure @eshepelyuk! No rush on our side :)
Let me know how I can assist you, we are available for any question :)

[2021-04-20 13:57] asafc opened #51 "OPAL confirmation callback/webhook"
## confirmation callbacks
* OPAL client (if configured) will call a callback/webhook with confirmation of the update
if the callback/webhook url is not responding - OPAL will log it, but continue as normal - i.e: error in the application callback should not stop or interfere with OPAL
* callback message will have some optional version/id string of the update and the hash of the update

## Readines

[2021-04-28 12:23] #51 closed

[2021-05-06 16:00] asafc opened #59 "github action: publish docker images to docker hub on push"
We want to be able to release the docker images automatically to docker hub when we merge new features.

We have 3 image variations:
[opal-server](https://hub.docker.com/r/authorizon/opal-server)
[opal-client](https://hub.docker.com/r/authorizon/opal-client)
[opal-client-standalone](https://hub.docker.com/r/authorizon/opal-client-standalone)

### Tags:
When publishing a new image, it should have b

[2021-05-06 16:00] asafc commented on #59
@pujan14 you are welcome to tackle this :) thank you!!

[2021-05-10 20:15] iguyking opened #60 "Marketing site is a bit wonky"
Looking at the marketing site and I can't scroll or see stuff on the page.

![image](https://user-images.githubusercontent.com/5004028/117719031-85a60380-b1a2-11eb-81fd-97b962bc7a71.png)

[2021-05-10 21:11] orweis commented on #60
Hey @iguyking !
Thanks for reporting (we are aware of these specific issue)
We are planing a new release of the website soon (Also upgrading to Gatsby 3.0 :) )

[2021-05-11 18:37] pujan14 commented on #59
#61 creates basic workflow for building and pushing images to docker hub.

[2021-05-11 22:19] pujan14 commented on #59
#62 adds sanity check using docker-compose example. With dedicated healthcheck endpoints for both server and clients it would be much easier to test them independently.

[2021-05-13 08:28] asafc commented on #41
Implemented by the amazing @eshepelyuk. closing.

https://github.com/authorizon/opal-helm-chart

[2021-05-13 08:28] #41 closed

[2021-05-14 09:00] asafc opened #65 "fix test_repo_cloner_clone_remote_repo_ssh_url"
## Background
The test is checking that opal common can clone a private repo.

we sometimes need to clone a private repo when the policy code synced to opal is stored on a private git repo.
the only way to authenticate to a private github repo is with SSH, and not with HTTPS.

cloning with HTTPS is done with a clone url like this: https://github.com/authorizon/fastapi_websocket_pubsub.git
cloning

[2021-05-20 13:44] asafc opened #66 "support more git providers (for webhooks)"
e.g: gitlab, bitbucket, etc

work started in #64, will complete it in a separate pull :)

[2021-06-02 12:12] asafc commented on #42
[6_Test with pytest.txt](https://github.com/authorizon/opal/files/6584348/6_Test.with.pytest.txt)

attached output of failed test.

[2021-06-02 12:13] #43 closed

[2021-06-24 14:31] asafc opened #82 "Default log configuration does not show client unable to connect"
details here: #81
Need to change default log filters to include fastapi_websocket_pubsub connection errors.
thanks @Hongbo-Miao for floating this up.

[2021-06-24 15:11] Hongbo-Miao opened #83 "Worth mentioning `OPAL_LOG_MODULE_EXCLUDE_LIST='[]'`"
Worth mentioning `OPAL_LOG_MODULE_EXCLUDE_LIST='[]'` in the doc, which is helpful for debugging.
Currently cannot find anything about it in this repo.

Context: https://github.com/authorizon/opal/discussions/81#discussioncomment-913721

[2021-06-24 15:16] asafc commented on #83
Sounds about right, will try to tackle this weekend :)

[2021-06-27 14:07] #82 closed

[2021-06-27 14:37] asafc commented on #83
fixed, added troubleshooting section to containers guide.

[2021-06-27 14:37] #83 closed

[2021-07-09 17:08] Hongbo-Miao opened #94 "Sometimes, the opal-client will return the wrong decision"
Sometimes, the opal-client will return the wrong decision (always `false` in my case which should be `true`) when opal-server crashes (?). I feel the crash happens most likely because of the internet connection issue because my internet is not stable based on the log below.

If this happens, opal-client will always return wrong decision until I redeploy them.

I can confirm the OPA server has corr

[2021-07-09 17:48] asafc commented on #94
Hi @Hongbo-Miao,

There's a lot to unpack here - i will need more info.

First, if you can kindly add `OPAL_LOG_COLORIZE=false` to your config, it will remove the color codes and the log would be easier to read. I should change this default - colors should be used only when experimenting locally - not in production.

Second, it looks like OPAL server crashes when something is corrupted on the trac

[2021-07-09 18:11] Hongbo-Miao commented on #94
Oh no, I am still using this public GitHub repo: https://github.com/Hongbo-Miao/opal-example-policy-repo `master` branch for policy.
I saw `OPAL_LOG_COLORIZE` is in https://github.com/authorizon/opal/blob/9c143ef3815a30a46060a5a3d09e1798226f2560/opal_common/config.py
I assume everything in this `opal_common` file are for both opal-client and opal-server, not including broadcast-channel.

[2021-07-10 09:51] asafc commented on #94
Yes, every ENV in opal_common/config.py file is for both opal-client and opal-server.

Regarding the server crashing - it crashes because the branch tracker cannot find the 'master' branch in your repo. If you did not change anything in your config it will be difficult to understand the reason, because the repository you linked to does indeed have a master branch.

Maybe we can jump on a zoom call

[2021-07-11 01:55] Hongbo-Miao commented on #94
Thanks for confirming for the `opal_common/config.py`.
I will reopen if I met again with new clean logs!

[2021-07-11 01:55] #94 closed

[2021-07-12 12:45] asafc opened #97 "OPAL need to alert the user if the policy bundle is invalid"
For example - if multiple .rego files have the same package name - OPAL will not complain but OPA will not allow it.
So, invalid configuration is caught during runtime - it should be caught during startup.

e.g: in multi-tenant policy setup: /global/rbac.rego should have different package name than /tenants/tenant1/rbac.rego - otherwise OPA will return 400 when applying the bundle.

[2021-07-12 14:01] orweis commented on #97
Need to think how to avoid drift from OPA - i.e. if we rebuild the rules for a valid bundle into OPAL, it will end up gradually drifting from OPA as the folks there update the project. Also there might be a difference of valid policies between versions of OPA.

Ideally if we can have OPAL test this via OPA, and communicate back its response- it would probably be better

[2021-07-12 16:38] Hongbo-Miao opened #98 "OPA version inside opal-client"
(Not urgent, just some ideas)

OPA published 0.30.1 ten days ago.
https://hub.docker.com/r/openpolicyagent/opa/tags?page=1&ordering=last_updated&name=0.30.1

Currently opal-client 0.1.9 is using OPA 0.29.4 inside.

Ideally, if can implement some automation way (definitely needs a lot of tests) to bump version and keep OPA inside opal-client update, that will be awesome!

[2021-07-12 17:11] asafc commented on #98
yup @Hongbo-Miao i am planning to release a new OPAL version this week - but currently we do not have such automation.

i wonder if there is a github action that is suitable to monitor a release of another project (the opa project) - it can then trigger the existing action of rebuilding the docker images.

Let me check and get back to you :)

[2021-07-12 17:26] asafc commented on #98
@Hongbo-Miao in the meanwhile i republished 0.1.9 images with latest OPA.
In general it is not recommended to republish images with same tags (even though OPAL code is still the same) - i will fix it with an automation so that a new OPAL version will be published automatically on OPA releases.

[2021-07-12 19:45] Hongbo-Miao opened #99 "opal-server stops pulling new updates if the policy repo has a force push"
opal-server stops pulling new updates if the policy repo has a force push (replace the last one commit with a new one).

Here is the log, it just stops further pulling without any error. And current pulling will be pending.

<details>
  <summary>Logs</summary>

[code]
</details>

This is a very rare as usually we don't force push `master` branch. However, just leave this bug here as I accidentally

[2021-07-12 20:48] asafc commented on #99
Mmm.. i can definitely see why a force push would interfere with updates.
The branch tracker does a `git pull` to see if new commits are available - but if you forced push to the remote - a git pull will not work.

i'll need to fix the branch tracker to:
1) fetch instead of pull
2) identify if the new commits are rewriting history
3) either rebase or git reset if force push is detected (probably s

[2021-07-16 04:44] rbanks-willow opened #102 "Error when requesting client access token from server API"
I'm running the OPAL server using the docker image, and I'm getting the following error from the `/token` endpoint

![image](https://user-images.githubusercontent.com/77176092/125889663-be88573f-669b-4675-84b9-c08cc41d071a.png)

The request seems to match the swagger definition, so I'm not sure what's missing that's causing the error.

Any help or tips would be appreciated.

[2021-07-16 09:45] asafc commented on #102
Hi @rbanks-willow,

OPAL was recently upgraded to a [more recent version](https://github.com/tiangolo/fastapi/releases/tag/0.65.2) of [FastAPI](https://github.com/tiangolo/fastapi) and they became a little bit more strict with HTTP request [content-type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type) (supposedly due to security issues).

The `Content-Type` header of all yo

[2021-07-16 11:46] #102 closed

[2021-07-22 09:00] Hongbo-Miao opened #111 "opal-server stops the pulling if failed to connect"
When I restart my local Kubernetes today, opal-server seems having a connection issue, then it fails with the error below.
I think when the Kubernetes restarts, it might have some connection issue in the beginning, however, I expect opal-server should not crash.

<details>
  <summary>opal-server logs</summary>

[code]
</details>

[2021-07-22 09:05] asafc commented on #111
mmm, when i built the opal-server initially, i thought that failing to actually connect to the policy repo (thus no policy will be available) should be fatal, but now that i think about this again - opal server should try to clone again and again until successful, and in the meanwhile show the errors in the log.

This can be easily fixed, @orweis any comments about the proposed change?

[2021-07-22 09:10] orweis commented on #111
Makes sense.
The only thing I can think of is that we should make it very clear in logs and perhaps via the healthcheck meta data that the server is up but not fully functioning, so people can easily understand what's wrong when this happens

[2021-07-22 09:18] asafc commented on #111
@Hongbo-Miao - i want to get this bugfix right :)

i can fix this during the weekend or at the latest - on Sunday, but i don't want it to block the next release (0.1.10) which i plan for today. is that ok by you? 0.1.11 could be early next week ;)

[2021-07-22 09:22] Hongbo-Miao commented on #111
Oh no problem, take your time! It is not an urgent as we are still exploring it.

[2021-07-25 14:50] #59 closed

[2021-08-02 07:46] farhah opened #118 "access token was not provided when running opal-client"
I run opal-server and opal-client.

This is the error I got on opal-client
[code]

I did some checking on the code and edit it, the error went away.

opal_client/data/fetcher.py
[code]

Please let me know if this is the intended behavior of the function in order for it to work?

[2021-08-02 07:52] asafc commented on #118
Hi @farhah, welcome to the OPAL community.

I am missing some information in order to help you:
* did you run OPAL directly in python or using the docker images?
* can you write the commands (or docker configuration) you used to run OPAL?

There's likely no bug here, from the log i am gathering that you ran the client without a valid access token, and so the OPAL server is rejecting the connection

[2021-08-02 08:12] farhah commented on #118
Hi there!

I pip installed opal-server and opal-client
Set up environment variables as needed.
No, I don't run it on docker.

[code]

Run  opal-server with no problem/error:
`(test) ➜  ~ opal-server run`
Run opal-client with this errors:
`(test) ➜  ~ opal-client run`
[code]

[2021-08-02 08:24] asafc commented on #118
Hi @farhah, you are indeed running the server in **secure mode**, and so you should also run the client with a valid access token.

You can obtain an access token with this command:
[code]
If you are running locally you can omit `--server-url`, it defaults to `http://localhost:7002`.

example output:
[code]

You can then start the client with said access token by setting the environment variable `

[2021-08-02 08:25] farhah commented on #118
I did have the token OPAL_CLIENT_TOKEN=eyJ0eXAiOiJ-somejwt-token

[2021-08-02 08:27] asafc commented on #118
Oh i am sorry i did not see you pass the token.
Let me take a closer look at your log.

[2021-08-02 08:49] asafc commented on #118
Ok, i got it:

Your client token is what identifies you against **OPAL server**, not against the **data-source server** (the server that is serving the data source entry).

In your case, you are using the example data sources (which are served by the OPAL server directly), thus the **data source server is also the OPAL server** in your case.

Assuming your `OPAL_CLIENT_TOKEN` is `eyJ0...8wsk`, you

[2021-08-02 09:44] farhah commented on #118
Thanks for the help Asaf,
However, I encountered another error.

2021-08-02T17:42:22.209371+0800 |fastapi_websocket_pubsub.pub_sub_client | INFO  | Connected to PubSub server ws://localhost:7002/ws
2021-08-02T17:42:32.152276+0800 |opal_client.data.fetcher                |ERROR  | Timeout while fetching url: http://localhost:7002/policy-data
Traceback (most recent call last):

  File "/usr/local/Ce

[2021-08-02 10:10] asafc commented on #118
Probably still a config issue, let's jump on zoom and debug together:
https://calendly.com/asaf-cohen

[2021-08-03 03:41] farhah commented on #118
Ok Asaf, I got it working now. There was a typo at the OPAL_DATA_CONFIG_SOURCES.
Before that I didn't set this env variable.

These 2 docs are helpful in understanding the flow of the data source server. Thanks.

[2021-08-03 08:04] asafc commented on #118
Cool, i am glad you got it working! :)

[2021-08-03 08:04] #118 closed

[2021-08-07 13:50] phi1010 opened #120 "Redundant Configuration / Polling for Data Fetchers"
Hi,

I'm currently implementing a data fetcher for LDAP and testing it in my docker environment:
https://github.com/phi1010/opal-fetcher-postgres

I'd like to trigger updates, and have two ideas -- could you tell me whether they can be done with the current OPAL framework?

1) Polling in Python

Is there an intended way to schedule a later update form a FetcherProvider from within the process() st

[2021-08-07 14:04] asafc commented on #120
Hi @phi1010,

There's two separate questions here:

#### Q1: How can a publisher service monitor a data source in order to know when to trigger updates via OPAL?
At the moment, this is left unsolved by OPAL intentionally in order to keep the solution flexible. i.e: your LDAP publisher service can either do polling or webhooks, in the end you will trigger OPAL the same way using the REST API.

####

[2021-08-07 14:24] orweis commented on #120
I agree with @asafc 's answer here.

I think for the updates part you should prefer to keep the content of the update itself as simple as possible, and move as much of the complexity to the DataFetcher.
This should provide the most decoupling and make the system more adaptive and flexible for change.

Within that I'd have a curl process or something similar trigger the event to OPAL.

By implement

[2021-08-07 14:43] phi1010 commented on #120
Storing Credentials alone probably would not solve most security issues related to this; if an untrusted trigger can still change the configuration, it could simply let the fetcher send the credentials to some other server; or have wrong data loaded from another server.

[2021-08-07 14:49] asafc commented on #120
@phi1010 i just want to make sure we are on the same page regarding security.

"if an untrusted trigger can still change the configuration" - any service using the trigger api must have a valid JWT token of type "datasource" that is cryptographically signed by the OPAL server - so no untrusted service can actually trigger updates.

Also - since you are the one deciding what fetchers to load in you

[2021-08-07 14:56] phi1010 commented on #120
I am currently trying to figure out how I can Imple

[2021-08-07 14:57] orweis commented on #120
@phi1010 also note the triggering component (e.g. a microservice that tracks your LDAP) the, the one send the update event , is authenticated to OPAL (via a valid OPAL-server token (see [obtain-token](https://github.com/authorizon/opal/blob/master/docs/HOWTO/trigger_data_updates.md))
So only authenticated triggers can pass URLS and event configurations to OPAL-clients and their data fetchers.

In

[2021-08-07 15:39] phi1010 commented on #120
I am currently trying to figure out how I can store the complete configuration provided from my Dockerfile in my fetcher -- I'm still a bit unsure about the lifetimes of the objects.

Considering the trustworthyness of triggers, I think in the long term, a less privileged token would probably be useful. Maybe the following scenario explain a bit where I would expect a separation of privilege:

For

[2021-08-07 16:10] phi1010 commented on #120
This would probably also be relevant to your examples -- commercial Payment Services, Service Desks (e.g. Jira), Github and other services may have some possibility to configure callback URLs, but what is sent to those URLs is typically determined by the service triggering the callback. When writing fetchers as adapters to get data from such services via their REST api; there might be an interest

[2021-08-07 16:18] asafc commented on #120
Hey @phi1010, you raise a lot of interesting points. Let me take a closer look tomorrow and come back to you :)

[2021-08-08 14:33] asafc commented on #120
Hi @phi1010, sorry for the delay - Friday and Saturday are weekend days for us, we try to be available within reason :)

You raise some interesting points, some of them completely separate from one another.
Let me try to break it down and see how we can approach this together.

### 1) Allow data-source services (who trigger updates) to only affect some parts of the policy

Sounds like a valid use

[2021-08-09 00:08] phi1010 commented on #120
2) A separate service would require additional administration effort at no advantage. The extensibility to the server probably is not necessary, if the server just parses the relevant data (topics, jwts) from the url, and passes the remaining parameters from a POST unchanged to the subscribed clients, where the fetchers could parse these triggers.

1) This will take me some weekends to form an opi

[2021-08-09 07:48] asafc commented on #120
Hey @phi1010,

Regarding (1), it is very easy to implement JWT scoping, and it is also the correct approach in my opinion.
Let us know when it becomes a blocker for you.

Regarding (2), can you elaborate more how you think it would work?

- Each 3rd party service will have a different payload inside the webhook request, it will be impossible to parse the topics in a generic way.
- Not all 3rd part

[2021-08-10 19:31] phi1010 commented on #120
2 / Topics and JWT Authentication

All necessary data for webhook clients could be encoded in the URL for GET and POST requests -- e.g. https://my-opal-sever/update-datasource/an-datasource-id/an-opal-jwt/topic1,topic2,topic3 -- comma delimiting is already used in the clientside environment variable, thus a datasource cannot contain topics. This will likely be compatible with most other services a

[2021-08-10 19:58] phi1010 commented on #120
Regarding the scoping of JWT tokens (1.1), an opinion from a security standpoint of view, even though it will likely be irrelevant to the current project for the next few years:

I don't think encoding authorization in a JWT token is ideal, because any restriction of authorization of those external services would require revoking the whole JWT token. If revocation (i.e. stateful management of toke

[2021-08-10 20:48] phi1010 commented on #120
Regarding both 1.1 and 1.2: As I understand it, both of these try to decide:

This might solve many cases, but I still think it falls short for some scenarios.

I have some assumptions -- if one of these do not match your ideas, please tell me:

A1) Fetchers fetch data from data sources that are eventually consistent, fetching data is idempotent, and there is no disadvantage from fetching data / u

[2021-08-12 10:36] asafc commented on #120
Hey @phi1010, if i understand you correctly, you propose a wide change to the way OPAL works.
Currently - data updates are completely driven by the OPAL server (url, credentials, etc).
You suggest a static configuration in the OPAL client, to specify all data sources (url, credentials, etc) and then to simply send simple update notifications to refetch a pre-known source.

You say you don't unders

[2021-08-18 21:11] jyoussefzadeh opened #123 "OPAL does not consider dependencies when loading policy files into OPA"
When loading policy files into OPA one at a time, OPAL does not consider the dependencies of those policies in the order that they are loaded, and instead loads the policies in alphabetical order of the file name.

Imagine the following structure:
.
├── authorization.rego
├── utils.rego
[code]
[code]

`authorization` has a dependency on `utils`, so if `authorization` is loaded before `utils` is lo

[2021-08-20 19:00] grantmcconnaughey opened #124 "How to disable data fetching and only use policy syncing"
Hello,

I'm interested in disabling the data fetching portion of OPAL and only using the policy syncing feature at this time. I've tried setting `OPAL_DATA_CONFIG_SOURCES` to `{"entries":[]}` on the server and `OPAL_DATA_TOPICS` to an empty string on the client, however the client continues attempting to sync data from the server, which fails due to some networking issues.

Is it possible to disab

[2021-08-20 19:44] asafc commented on #124
Hi @grantmcconnaughey, sure it's a super easy feature to add - i can add a config var to turn data fetcher off.

I'll do it first thing on Sunday! :)

[2021-08-22 10:51] asafc commented on #120
Hi @phi1010 :)

I am feeling like there are no concrete action items until we have a proper discussion :)
Please feel free to [book one](https://calendly.com/asaf-cohen) :)

[2021-08-22 14:52] asafc commented on #124
Feature is merged and will be available in the next release.

[2021-08-22 14:52] #124 closed

[2021-08-23 14:09] grantmcconnaughey commented on #124
Wow! Amazing, @asafc. Thanks so much!

[2021-08-23 14:58] #123 closed

[2021-08-23 15:00] asafc commented on #123
Hi @jyoussefzadeh, i added an **explicit manifest option** to help you control the order of loading of policy modules.
docs can be found [here](https://github.com/authorizon/opal/blob/master/docs/HOWTO/track_a_git_repo.md#policy-bundle-manifest---serving-dependant-policy-modules) and working example can be found [here](https://github.com/authorizon/opal-example-policy-repo).

Feature is merged and

[2021-08-24 12:53] #111 closed

[2021-08-28 01:27] Hongbo-Miao opened #130 "Allow to use new version of tenacity"
Currently opal-common pins to tenacity version 6.3.1.

When we build the Docker image of our own fetcher based on [opal-fetcher-postgres](https://github.com/authorizon/opal-fetcher-postgres), it will show this error if use new version

It would be great to allow us use new version in future. Thanks! 😃

[2021-08-28 01:45] chicco785 opened #131 "Policy from APIs instead of git?"
I was wondering if there is a way to synch policies from an API rather than from git.

[2021-08-28 08:59] asafc commented on #130
I do need to upgrade the versions of tenacity and other libraries required by opal.
However it's a bit difficult because of inter-dependency constraints they have.

For example, as it stands, there is a coupling between opal dependencies and its lower level libraries dependencies - fastapi_websocket_pubsub and fastapi_websocket_rpc.

I can probably try to do it when we release the next version :)

[2021-08-28 09:00] asafc commented on #131
We do have a roadmap item to extend to more policy sources (same as data sources).

Can you elaborate a bit more how an API source for policy would behave? What did you have in mind?

[2021-08-28 10:58] chicco785 commented on #131
At the time being we it’s very simple, the API invoked could serialise policies as rego when request include “accept: text/rego”, thus living complexity of the conversion there and not in Opal. In Opal you could  just record the request url and the auth token for the api.

[2021-08-28 18:14] orweis commented on #130
I think we can move to pin to a minimum (non major) version instead of an exact version; for stable packages like tenacity and FastApi.
Though in this case of Tenacity it wouldn't have helped since it changed via two major versions [6 to 8]  (with possibly breaking changes)

[2021-09-02 07:36] asafc opened #134 "Data updater should log less stuff"
Discussion in slack:

https://opal-access.slack.com/archives/C01RY1X9SBC/p1630351244003600

[2021-09-02 11:03] asafc commented on #131
Hi @chicco785, as i understand from a technical standpoint, for an external api as policy source you would need an api to:
1) list all the policies
2) fetch a single policy
Each "policy" object can be a single rego file or a complete bundle of rego and json files.
You would have to expose such api and implement this "policy source" server.
please correct me if i misunderstood.

Also, can you pleas

[2021-09-02 12:15] #134 closed

[2021-09-03 16:50] chicco785 commented on #131
hi @asafc
i believe that your understanding is correct!

at the time being we are working on a policy api that allows to define data access policies in abstract way from rego. the reason for this is that the same data are actually accessed through different apis: e.g. we have an api to read real-time values of data entity a, and we have an api to read historical data of data entity a. the apis, fo

[2021-09-03 21:31] asafc commented on #131
Hi @chicco785, thanks for the detailed explanation! :)

I think we can actually add pluggable policy sources soon.
This has been on our roadmap for a while, people already asked to source policies from S3, and the **API Policy Source** you suggested here is another great example.

Would you be willing to spec it out together with us? Maybe we can do a quick zoom sometime next week and discuss the

[2021-09-04 06:28] chicco785 commented on #131
hi @asafc, sounds great!

[2021-09-07 20:40] grantmcconnaughey opened #138 "Possible memory leak with OPAL client"
I'm running an OPAL client container in Kubernetes. I recently looked at metrics on the memory usage of this container and noticed that memory is climbing and climbing until it hits 100%. This indicates a possible memory leak with OPAL client.

<img width="537" alt="Screen Shot 2021-09-07 at 3 37 39 PM" src="https://user-images.githubusercontent.com/4023140/132407783-3ab90eda-39ef-4ffa-acb0-3568a7

[2021-09-08 11:02] orweis commented on #138
Hi Grant! :)
Thanks for reporting we'll take a look.

Few things that could help:
 - Can you please share if and how much data you loaded via OPAL ? (perhaps by looking at the OPAL logs)
 - Can you glance in the container - and see which process is utilizing most of the memory (Python [OPAL] or OPA ?)

CC: @asafc

[2021-09-08 14:27] asafc commented on #138
Hi Grant :) i would also please ask if you could send us the complete logs for:
- opal server
- opal client
- OPA agent

[2021-09-08 14:27] grantmcconnaughey commented on #138
You bet!

I have data loading disabled. The client has only loaded 2 policies from the server.

Also, this is the standalone client so OPA is not running on that container; only the OPAL client.

[2021-09-08 16:38] asafc commented on #138
@grantmcconnaughey just making sure you saw my comment, we need the logs to be able to help you out :)

[2021-09-08 18:08] grantmcconnaughey commented on #138
Yes, understood. I ran into several hours of meetings but will work on getting those logs together.

[2021-09-08 18:14] grantmcconnaughey commented on #138
Here ya go, @asafc.

The client just has a bunch of healthcheck probes:

<details>
<summary>opal-client logs</summary>

[code]

</details>

The opal-server is in a similar situation:

<details>
<summary>opal-server logs</summary>

[code]

</details>

And finally the OPA container itself:

<details>
<summary>OPA logs</summary>

[code]

</details>

[2021-09-08 18:39] asafc commented on #138
Unfortunately the logs don't tell us much.. maybe you can set `OPAL_LOG_LEVEL=DEBUG` and try again?

Let me try to reproduce this myself in my own k8s setup. I'll try to get to it tomorrow or early next week :)

[2021-09-08 19:02] grantmcconnaughey commented on #138
Sounds good! I'll throw a `DEBUG` in there on my end and see if anything else turns up.

[2021-09-09 18:18] asafc commented on #131
Hey @chicco785 :)

Sorry for dropping the ball here ,it is a holiday month for us so we are less responsive.
Grab a slot in our [Calendly](https://calendly.com/orweis) - currently Monday or Tuesday look ok, and let's try to think about this feature together :)

[2021-09-10 16:56] chicco785 commented on #131
hey, no worries, we are in not in a rush since we are in mode: "I love deadlines. I like the whooshing sound they make as they fly by." ;)

[2021-09-10 20:14] Hongbo-Miao opened #140 "ValueError: Reference at 'refs/heads/master' does not exist"
Hi @asafc based on
https://github.com/authorizon/opal/discussions/139#discussioncomment-1303934

it works well, it can pull the pricate repo successfully if you search `Clone succeeded` in the log.
However, it also has some error logs inside like

Here is the full log:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-09-11 11:44] asafc commented on #140
Hi @Hongbo-Miao, silly question - but can you make sure the master branch indeed exists on the repo?

Github changed the default branch name to "main" a while back, so it could be that your branch name should be "main".

In that case you should set:
[code]

[2021-09-11 13:33] Hongbo-Miao commented on #140
Oh it does exist.
![image](https://user-images.githubusercontent.com/3375461/132949566-49cc0ebf-adb3-422e-b59a-62a8195f3a84.png)

I tested, if only `main` exists without `OPAL_POLICY_REPO_MAIN_BRANCH=main`, it will failed without

[2021-09-12 09:16] asafc commented on #140
Hey @Hongbo-Miao , i sent you a docker compose file privately on slack. Can you please try to run it?

You will need this command:
[code]
It has a private key and uses our own [private repo](https://github.com/authorizon/opal-example-private-policy-repo).

If my compose file works for you, then something in your docker compose or repo is not configured correctly.
You are welcome to give me permiss

[2021-09-15 22:06] Hongbo-Miao commented on #140
I replaced https://github.com/authorizon/opal/blob/3e04a8e185bb8b0894c56c06ab919c5de8fefd06/docker/docker-compose-example.yml
to the file you sent me.

Still got same error

<details>
  <summary>Click to see logs!</summary>

[code]
</details>

[2021-09-16 16:47] asafc commented on #140
Sure, i am quite available tomorrow. How about we do a zoom call and debug together?

just book something through my [calendly](https://calendly.com/asaf-cohen)

[2021-09-22 20:39] Hongbo-Miao commented on #140
Close for now, and will post back for what we find.

[2021-09-29 11:04] #60 closed

[2021-09-29 11:04] obsd commented on #60
Fixed by @orweis

[2021-09-30 10:31] sayedcsekuet commented on #131
Hi @asafc,
We are evaluating to use OPAL for the authorization later, so far it's great but only one thing is missing synchronising data from rest api or database. Is there any roadmap to add this feature soon or at least to provide an way to extend it.

[2021-09-30 12:01] asafc commented on #131
hi @sayedcsekuet,
Federico and i were actually discussing pluggable **policy** sources (instead of git).

As i understand you are talking about syncing **data** from REST API which is [natively supported](https://github.com/authorizon/opal/blob/master/docs/HOWTO/trigger_data_updates.md) in OPAL.

Can you explain your use case in more detail?

[2021-09-30 12:01] asafc commented on #131
@chicco785 regarding pluggable policy sources timeline:
We can do it in a few weeks time, i would love to know if there are any hard deadlines on your end?

[2021-09-30 13:40] sayedcsekuet commented on #131
@asafc sorry for my confusion, I mean the policy synchronisation using other source instead of git. From our side with in one to two week we have to present the POC. Would be great if we get ASAP. Thanks for your quick response and kind information.

[2021-10-01 13:44] asafc commented on #131
@sayedcsekuet we will start working on an API policy source (and in general on pluggable policy sources) early next week. It is a big feature (requires refactoring out git logic into the git-policy-plugin) - i estimate it will take up to a week to complete, we will do our best to finish much quicker.

Just wanted to be transparent about timing :) Have a great weekend!

[2021-10-01 13:54] chicco785 commented on #131
hi, there is no rush on our side!

[2021-10-02 16:17] asafc commented on #44
fixed in 0.1.14

[2021-10-02 16:17] #44 closed

[2021-10-03 13:17] asafc commented on #140
Hi @Hongbo-Miao :) Let's keep this open until we are sure we solved it.

What i think is happening is some race condition while opal server is still cloning the repo.
i made a small fix in 0.1.14 that might fix this issue.

Can you please check if you get the same issue with 0.1.14?

[2021-10-03 21:31] sayedcsekuet commented on #131
@asafc thanks for you kind information.

[2021-10-13 05:55] floriangasc opened #149 "information request about : Repo already exists ... moving previous clone to"
Hi

Thanks for your job. I start to use opal, it's look great.

(Sorry for my english in advance).

I see a strange behavior. RepoCloner._discard_previous_local_clone create a new repo clone each time server is run. If server reboot 10 time, there are 9 directories "regoclone.oldX".

1. There are any reason to not update in place ? 
2. There ara any reason why it's never deleted, (max history or s

[2021-10-13 07:30] asafc opened #150 "OPAL cannot clone non-base branch on private repo"
reported by Jake on slack: https://opal-access.slack.com/archives/C01RUUYV3TP/p1634067725023100

config:
[code]

stack trace:
[code]

[2021-10-13 09:37] orweis commented on #149
I agree with @obsd
But will also suggest that deletion should cyclic - i.e. upon reaching `OPAL_POLICY_REPO_MAX_CLONE_COPEIS` we delete the oldest entry and create a new one.

[2021-10-13 11:46] floriangasc commented on #149
HI,

Great. Thanks you help !

I understand now why this behaviour, which well justify.

I agree with @asafc  @obsd  and @orweis :

1. this parameter seem's good . cyclic policy.  OPAL_POLICY_REPO_DELETE_PREVIOUS_CLONES, and OPAL_POLICY_REPO_MAX_CLONE_COPEIS for allow control for end developper.
2. yes default value is really important, it's should delete something on the host machine.

Thanks aga

[2021-10-16 09:19] floriangasc opened #153 "Information request about store type"
What do you thing to add a new disk store type (an addition of mock and opa) ?

# context

2. I found simple/and much powler to use the watch file option of opa that pass by api/put request for store data.
3. Our (old) bundler create a bundle (archive with rego policy and json data).
4. When we found your projet i start to implement a custom fetcher
5. but, unless I missed something, watch feature

[2021-10-16 11:14] orweis commented on #153
Hi @floriangasc, thank you for your post :)

I'll discuss this with @asafc when he returns from his vacation next week, and get back to you ;)

[2021-10-18 07:18] Hongbo-Miao opened #154 "Check whether the opal-client has latest data"
### Discussed in https://github.com/authorizon/opal/discussions/152

<div type='discussions-op-text'>

<sup>Originally posted by **Hongbo-Miao** October 14, 2021</sup>
A similar question to [Check whether the opal-client has latest policy](https://github.com/authorizon/opal/discussions/148), but for data instead of policy.

As for data, we send `POST http://localhost:7002/data/config` command to o

[2021-10-18 07:19] Hongbo-Miao opened #155 "Statistics of opal-clients"
### Discussed in https://github.com/authorizon/opal/discussions/151

(^ Please go to the discussion there to check more info)

<div type='discussions-op-text'>

<sup>Originally posted by **Hongbo-Miao** October 14, 2021</sup>
Hi OPAL team, assume we have

- Multiple pods in a Kubernetes cluster
- Each/some pods has a main container and a sidecar container with opal-client inside
- Each/some pods h

[2021-10-18 15:15] grantmcconnaughey commented on #138
The logs aren't showing anything useful, but I do want to report that we're still seeing spiky memory for OPAL client containers. This is maximum memory for the past 2 weeks. So far we're just syncing one test policy in a small repo. We're only syncing policies with OPAL, not data.

![image](https://user-images.githubusercontent.com/4023140/137759629-8f1021b0-7816-401e-883d-7ae30fea5dd4.png)

[2021-10-18 20:43] asafc commented on #138
Hey @grantmcconnaughey, this is super helpful! we are on it! :)

[2021-10-19 06:44] orweis opened #160 "Restrict topic subscription from OPAL Client and topic events from OPAL Server"
### Started as a discussion in https://github.com/authorizon/opal/discussions/159

<div type='discussions-op-text'>

<sup>Originally posted by **jyoussefzadeh** October 19, 2021</sup>
From the documentation & previous discussions, I understand that a JWT token can be issued to authenticate the OPAL Clients connection to OPAL Server.<br>
Is it also possible to restrict which `OPAL_DATA_TOPICS` can

[2021-10-19 17:27] hongbo-miao opened #161 "ERROR | Critical: OPA health-check policy is enabled, but cannot find policy"
I followed [How to use data update callbacks and OPA healthcheck policy](https://github.com/authorizon/opal/blob/master/docs/HOWTO/healthcheck_policy_and_update_callbacks.md) and succeed running the docker-compose demo.

Now I am trying it in a Kubernetes cluster.
My opal-server has set up JWT, and I generated one and added to opal-client. They work well and can communicate with each other.

First

[2021-10-19 18:23] asafc commented on #161
hey @Hongbo-Miao,

this is the issue: OPAL cannot find the healthcheck policy file.
[code]

As to why, i am suspecting it's because i did not add the policy file to the python package manifest.
I will make sure and if so - i will fix it in the next version (which hopefully will be submitted tonight).

Did it work for you in docker compose?

[2021-10-20 11:22] orweis commented on #153
Hi @floriangasc just surfacing this back up.

[2021-10-20 13:46] #161 closed, assigned to nobody

[2021-10-20 13:56] asafc commented on #149
Fixed by @obsd in 0.1.16 - OPAL will create a unique folder for the policy repo clone.
If detecting previous clones - OPAL will remove them - so no multitude of folders anymore :)

[2021-10-20 13:56] #149 closed, assigned to obsd

[2021-10-21 16:14] asafc opened #165 "Make OPAL support all common PEM key format for JWT encryption keys"
### Discussed in https://github.com/authorizon/opal/discussions/164

<div type='discussions-op-text'>

<sup>Originally posted by **Hongbo-Miao** October 21, 2021</sup>
# Method 1 - `RFC-4253 of SSH` succeed in opal-server

[code]

This will generate both id_rsa and id_rsa.pub
The public key is in RFC-4253 SSH format.

Above works in opal-server with default envs

[code]

However, I am not sure how

[2021-10-21 20:04] Hongbo-Miao commented on #161
Confirmed, it has been fixed in 0.1.16! Thanks!

[2021-10-21 20:42] hongbo-miao opened #166 "OPAL_DEFAULT_UPDATE_CALLBACKS is not parsed correctly when provided with config"
I have successfully set up the JWT token. This is my opal-client log which shows it works well.

[code]

Now I added

[code]

However, my opal-client failed to report the update to opal-server.

[code]

Both my opal-client and opal-server versions are 0.1.16.

[2021-10-22 19:52] hongbo-miao opened #167 "Allow skipping `OPAL_DEFAULT_UPDATE_CALLBACKS` if have `OPAL_SHOULD_REPORT_ON_DATA_UPDATES=True`"
Following up with https://github.com/authorizon/opal/issues/166

Just a UX improvement idea. Not urgent.
If we only provide `OPAL_SHOULD_REPORT_ON_DATA_UPDATES=True` without `OPAL_DEFAULT_UPDATE_CALLBACKS`, then let opal-client can point to opal-server by default.

[2021-10-26 17:58] #165 closed, assigned to nobody

[2021-10-27 13:52] #150 closed, assigned to nobody

[2021-10-27 21:09] hongbo-miao opened #171 "1 validation error for DataSourceConfig entries field required (type=value_error.missing)"
Based on the [How to configure external data sources](https://github.com/authorizon/opal/blob/master/docs/HOWTO/configure_external_data_sources.md), I created my config server.

When I hit my config server by
[code]

I got response:

[code]

However, my opal client log shows `entries` field is missing:

[code]

 Any idea? Thanks!

[2021-10-28 18:19] #171 closed, assigned to nobody

[2021-10-29 13:33] darkMark1999 opened #172 "Connecting several OPAL clients to one server"
Hello, I read in your documentation that you can connect several clients to one OPAL server, but I did not understand how this can be done. Could you please suggest how to do this or send a link to the documentation?

[2021-10-29 16:00] #172 closed, assigned to nobody

[2021-11-02 07:57] floriangasc commented on #153
@asafc i have book a meething for today at 10h. but in candly doesn't appear. It's ok for you ? or you prefere a schedule another ?

[2021-11-02 07:59] asafc commented on #153
Hi @floriangasc i see the invite but it appears on 11am my time. It one hour from now ok for you?

[2021-11-02 08:00] floriangasc commented on #153
Perfect :)

[2021-11-02 09:04] asafc commented on #153
Hey @floriangasc i am waiting for you on this link:
https://us02web.zoom.us/j/83071377839

i think you are the host

[2021-11-04 14:55] asafc opened #178 "Fix official docker images to use non-root user"

[2021-11-07 16:39] #155 closed

[2021-11-10 12:00] gdmarsh opened #180 "Subscription to multiple policy directories does not fully update on new commit"
Hi

I have noticed that when opal-client subscribes to multiple policy directories and a new commit is added to the policy branch that not all files across the subscribed directories are pulled from opal-server. This has been tested on 0.1.17.

Steps to reproduce

1. Fork or branch authorizon/opal-example-policy-repo and add two directories with some basic rego files (gdmarsh/opal-example-policy-r

[2021-11-10 12:06] asafc commented on #180
Hi @gdmarsh :)

Thanks for the super detailed reproduction steps, i will help us investigate faster!!

I will try to get this by the end of the week, will update as soon as i know something :)

[2021-11-10 14:38] gdmarsh opened #181 "Healthcheck always returns false with option `OPAL_DATA_UPDATER_ENABLED=False`"
I was looking at running the healthcheck policy as it is useful configuring this for a Kubernetes environment but there is also no requirement currently to update data, only policy. It turns out that by disabling data updates using the `OPAL_DATA_UPDATER_ENABLED` option it causes the healthcheck to never return true.

Steps to reproduce
1. Update `docker-compose-with-callbacks.yml` to disable data

[2021-11-10 14:53] asafc commented on #181
oh that is a good catch @gdmarsh :)

The way the [healthcheck policy healthy rule](https://github.com/authorizon/opal/blob/master/docs/HOWTO/healthcheck_policy_and_update_callbacks.md#how-to-query-the-healthcheck-policy) works, it checks both the success of at least one update made by both policy updater and data updater - since data updater is off - no data updates are ever made.

It's a super ea

[2021-11-18 20:53] jyoussefzadeh opened #183 "Change external_source_url to send token in body as a POST request"
Currently when opal client gets redirected to an external_source_url, the client token is sent as a URL parameter.
Although this is encrypted with SSL encryption, there may still be a lot of infrastructure between the client and the actual API server that returns the configs, which can log or otherwise reveal the token.

Any sensitive info like this should either be in the headers or body.

Since

[2021-11-18 21:06] orweis commented on #183
Hey Jake, thanks for opening an issue :)
I might be missing something here, or misunderstanding (If I am please do correct me).

That said, to the best of my knowledge, the [URL parameters in HTTPS are as encrypted](https://stackoverflow.com/questions/499591/are-https-urls-encrypted) and are safe as any other part of the payload (headers, body, etc.). Any in between elements (unless they establish

[2021-11-18 21:09] jyoussefzadeh opened #184 "Support nested manifest files"
Support for dependency management using manifest files was added with https://github.com/authorizon/opal/pull/127

Currently, only a root level manifest is supported, and the exact file paths must be provided in that manifest file. This can be difficult to manage when policy data grows complex with many different files and folders.

I would like to suggest adding support for nested manifest files.

[2021-11-18 21:13] orweis commented on #184
Makes sense. :)
@asafc what do you think?

@jyoussefzadeh is there an immediate  need  around this (just so we can prioritize) ?

[2021-11-18 21:27] asafc commented on #184
Definitely useful. I have this high in my todo.

[2021-11-18 21:31] jyoussefzadeh commented on #183
The issue with URL query parameters is they can be logged/revealed as part of any network infrastructure or middleware on the way to the API server, such as nginx, F5, akamai, or metrics frameworks like prometheus/datadog.

Even though it is *technically* secure with SSL encryption, the default assumption by any network middleware will be that there is nothing sensitive in query params and the ful

[2021-11-18 21:36] jyoussefzadeh commented on #183
For ref:
https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html#sensitive-information-in-http-requests
[code]

[2021-11-18 21:39] jyoussefzadeh commented on #184
No immediate need, just thinking ahead with this one. Thank you!

[2021-11-18 22:18] orweis commented on #183
Got it.
So to clarify:
1. In the current situation - no in between network component can access the URL parameters.
2. The URL parameters (and the token) are accessible only to the OPAL-client, and the (external) server the request is redirected to.

Your concern is that someone will implement the external-server  incorrectly and mishandle the token (e.g. exposing it in logs)
I think this kind of

[2021-11-18 23:12] jyoussefzadeh commented on #183
Its not really a question of incorrect configuration, rather the standard on API design is that regardless of how secure SSL may be, sensitive info should never be sent in query parameters.
Especially if one does not control the network & web infrastructure which leads to their application, without extra configuration that infrastructure will follow this standard and treat the URI as non-sensitive

[2021-11-18 23:46] orweis commented on #183
I'm not sure I completely agree with your take here.
Plugging servers together assuming it would just be okay - sounds like an
anti pattern to me. IMHO Security engineering is about designing and
verifying.

Tokens as parts of URLs are a very common pattern, OAuth is a prime example.

Regardless, I agree  with you that we should add some additional
precautions here. And apply a solution.

I'm curr

[2021-11-18 23:58] orweis commented on #183
We can even make the tokens single-use  (by making the OPAL-server create  a new JWT with a UUID in its claims for every redirect). Will require the external-sources server to keep track of the UUIDs it has seen.

[2021-11-19 11:15] asafc commented on #183
I think this is a complex discussion, we might want to take it offline with the team.

1) I think @jyoussefzadeh has a point that URLs in HTTPS should not contain sensitive information (i.e: secrets) - due to the fact most of modern services terminate the SSL connection at the load balancer and that if these services are monitored by stuff such as cloudwatch, datadog, etc, the url with the secret

[2021-11-19 11:30] orweis commented on #183
Asaf, Your item 3 is what Jake suggested from the start.

My problem with it is that it breaks other peoples code (you force them to
reimplement the external-source server).

In addition if the assumption is that you can't trust your own intermediate
infrastructure (e.g. Ngnix , cloudflare) then moving the tokens to the body
provides no real defense, since they have access to that as well, and jus

[2021-11-20 17:30] #181 closed

[2021-11-20 19:19] asafc commented on #180
Hi @gdmarsh - i found the cause to the bug and fixed it, now in review.
Thanks for reporting this issue! :)

[2021-11-21 10:42] #180 closed

[2021-11-21 10:43] asafc commented on #180
fixed on master, will be part of the next release.

[2021-11-22 21:54] asafc opened #190 "When OPAL is not provided a valid passphrase - the private key is set to None instead of throwing"
Not sure if it's a bug in OPAL casting method or in the crypto library, but if a private key generated with a passphrase incorrectly or without passing the passphrase env var, the following code will not throw:

[code]

i expect this kind of line to throw if password is invalid or None
[code]

instead it returns None

as a result - OPAL thinks it got a public key without a private key

[2021-11-22 21:55] asafc commented on #190
Thanks @Hongbo-Miao for reporting this!

[2021-11-22 21:56] Hongbo-Miao opened #191 "Misleading error for private key without empty/wrong passphrase"
Thanks @asafc for debugging!

I was using `=` like `-N=` and `-P=` in
[code]
which is a mistake.

Correct one has not `=` like
[code]

However, the error log is misleading, it would be great to say it is the `OPAL_AUTH_PRIVATE_KEY_PASSPHRASE` issue instead of not providing private key correctly.

[code]

[2021-11-22 21:57] Hongbo-Miao commented on #191
Close to in favor of https://github.com/authorizon/opal/issues/190

[2021-12-14 05:33] Hongbo-Miao opened #195 "opal-client size issue"
Just a ticket to track the size issue since v0.1.15 : )

![image](https://user-images.githubusercontent.com/3375461/145939070-a0a31b0a-c7cb-4f1c-b930-42112a737f06.png)

[2022-01-03 20:33] asafc opened #200 "Add warning/error if user running without broadcaster and multiple workers"
Full user issue in our slack:
https://opal-access.slack.com/archives/C01RUUYV3TP/p1641240327028500

we need to check if `UVICORN_NUM_WORKERS  > 1 and OPAL_BROADCAST_URI is None` - criticial error or at least warn the user.

[2022-01-03 20:35] asafc commented on #200
@roekatz this is a good first issue :)

[2022-01-11 11:59] orweis opened #201 "Support .env config from other folders"
**Describe the bug**
No easy way of setting .env
OPAL uses [decouple](https://pypi.org/project/python-decouple/) to parse configuration from `.env` and `.ini` files (As part of Confi)
BY default it looks for them in the folder of the importing module - we should add support for a configurable folder or at least the current-directory

[2022-01-17 13:41] gdmarsh opened #202 "Installing and running server from pip requires dependency on client"
**Describe the bug**
When installing opal-server using pip and then attempting to run the server, a traceback is reported with module not found for opal_client and then exits. Not sure if this is intended due to the existence of opal_common for common dependencies.

**To Reproduce**
1. Create a fresh virtual environment and activate it (in my case it was `python3 -m venv ./.env` and `source .env/b

[2022-01-17 18:00] asafc commented on #202
@gdmarsh thanks again for reporting!!

The root cause is that we missed some imports in the Code Review of the [API policy source feature](https://github.com/permitio/opal/pull/146).
@obsd is working on fixing it, we will release 0.1.19 this weekend with a fix.

In the meanwhile, a quick workaround is to install `opal-client` as well.

Workaround (this should work fine in 0.1.18):
[code]

[2022-01-19 08:19] roekatz commented on #200
@asafc
I don't want to look up `UVICORN_NUM_WORKERS` from within OPAL code (Coupling it with gunicorn as its orchestrator).

How about checking it in the `start.sh` script?

Another option I'm thinking of - having "memory://" as the default for "OPAL_BROADCAST_URI".
This would just make OPAL Server container work even if the user configured more than 1 worker but no external `BROADCAST_URI`. Do yo

[2022-01-19 09:02] asafc commented on #200
Not sure if the `memory://` broadcaster will perform correctly. i think you could:
- change the default UVICORN_NUM_WORKERS to 1 in all places
- check the settings where ever you want - `start.sh` is fine :)

[2022-01-19 09:12] roekatz commented on #190
@asafc
It seems (from documentation and from testing it myself) `serialization.load_pem_private_key` works as you expect.
That is, throwing exception on invalid/None/empty password.

I believe the issue is with how `confi` deals with exceptions on evaluating variables:
[code]

Since `AUTH_PRIVATE_KEY`'s default is `None` - `None` is returned instead of throwing an exception.

[2022-01-19 09:57] orweis commented on #200
Maybe worth checking if the memory option works well. 🤔

On Wed, Jan 19, 2022 at 11:02 AM Asaf Cohen ***@***.***>
wrote:

[2022-01-19 09:59] orweis commented on #190
Configuration should never fail to load - otherwise you can run even basic
tests / modules.
It makes sense to verify the config value you got makes sense though - so
I'd check if we got None and handle that accordingly.

On Wed, Jan 19, 2022 at 11:12 AM roekatz ***@***.***> wrote:

[2022-01-19 10:35] roekatz commented on #190
Alright.
The private key could be `None` of course - it's only a problem if the public key is not `None`.
`JWTSigner`, which uses those keys, already verifies it didn't get `None` in one but not the other.

[This commit](https://github.com/permitio/opal/commit/96c4e9f84613642d6745be4b715a004647df6b59) already improved the error msg to indicate which of the keys is missing.

[2022-01-19 10:41] roekatz commented on #190
I'm closing the issue. In summary:

1. The private key casting code does throw an error, the error is caught and ignored by `confi` because `AUTH_PRIVATE_KEY` have a `None` default value (which is a valid value).
2. `JWTSigner` already gives a descriptive error when `AUTH_PRIVATE_KEY` shouldn't be `None` (when the public key is set).

[2022-01-19 14:54] asafc commented on #190
Let's at least add a warning :)

[2022-01-19 15:34] roekatz opened #206 "Manifest file should include relative paths rather than absolute"
I have a git repo where the `.manifest` as well as the policy files are in a subdirectory:
[code]

I can point OPAL Server to the manifest file with: ```OPAL_POLICY_REPO_MANIFEST_PATH=example/.manifest```.
But `.manifest` must contain absolute paths for the policy files to be found:
[code]

It should contain relative paths:
[code]

[2022-01-19 15:38] #200 closed

[2022-01-19 15:42] roekatz commented on #184
We'll also have to [support relative paths](#206 ) in order for @jyoussefzadeh 's example to work.
Otherwise it would look like:

[code]

[2022-01-19 16:10] roekatz commented on #184
@orweis @asafc
Here is how I want to implement this:

1. `OPAL_POLICY_MANIFEST_PATH` would be a directory path instead of a file path ("/" or "/policy" instead of ".manifest" or "policy/.manifest"). This would be the root manifest file.
2. The manifest file would always be looked in "<dir>/.manifest". Custom file names wouldn't be supported.
3. Manifest entries would always be considered relative

[2022-01-19 16:25] asafc commented on #184
I think your suggestion is good (keep backward compatibility of `OPAL_POLICY_MANIFEST_PATH` based on if the value is a file or directory).

Go ahead :)

[2022-01-19 18:53] #190 closed

[2022-01-25 14:23] asafc opened #207 "Feature request: Support self signed certificates in bundle server and websockets"
Requested by @jyoussefzadeh

[2022-01-31 12:01] #207 closed

[2022-02-02 15:35] #178 closed

[2022-02-03 14:38] asafc commented on #202
fixed in 0.1.19

[2022-02-03 14:38] #202 closed

[2022-04-14 10:54] doaspx opened #224 "Does OPA support fast loading and dynamic updating"
Hello

I have this scenario. The historical data is very large and needs real-time synchronization.

I understand that real-time synchronization opal can be solved;

So how can we solve this problem? When OPA starts, can it quickly load historical data? Can opal be realized?

[2022-04-18 13:25] asafc commented on #224
Hi @doaspx,

Not sure i fully understand your question, from what i could gather:
- You have a large amount of historical data that you need to load into OPA.
- You want to use OPAL to load this data in real time
So far so good, OPAL was built exactly for this.

Are you are asking about the speed of loading the data? It depends on the data size, the distance (latency) from the OPAL client to the d

[2022-05-09 19:20] tyowen opened #228 "opal client does not always update policy data"
**Describe the bug**
opal client does not always update policy data in a multiple instance setup.
- 2 opal servers with postgres as broadcast channel
- 2 opal clients
- both clients and servers are deployed in k8s

**To Reproduce**
- deploy opal server and client to k8s
- post policy data update to opal server's /config/data endpoint
- observe one of the client instances did not receive policy dat

[2022-05-09 20:22] asafc commented on #228
Hi @tyowen welcome to the OPAL community.

I am missing some data in your report, please provide the following details:
* full OPAL server config (you can redact secrets but there could be many things that went wrong: two of the most common issues are not configuring the broadcast channel correctly or not configuring OPAL_DATA_CONFIG_SOURCES correctly)
* full OPAL server logs (except secrets)
* di

[2022-05-10 01:03] tyowen commented on #228
hi @asafc thanks for the reply.
i need to clarify something before answering your questions. the behaviour is not consistent. when i post data update, sometimes both clients pick up the update, other times only one does.
- both server and client's configs were posted in the report. was there anything else you were looking for?
- the full logs were pretty large. was there any particular section you

[2022-05-10 06:30] asafc commented on #228
Hi @tyowen, i cannot be sure without the logs (you can send them to me privately on slack if that is an issue) but i have a strong suspicion.

We have observed a bug with the [broadcaster](https://github.com/encode/broadcaster) library that happens only when you are running with multiple workers and with postgresql as a backbone, where the DB session used for LISTEN/NOTIFY terminates on the postgr

[2022-05-10 21:07] ghost opened #229 "Failed running opal server on Windows due to incompatibility of gunicorn"
**Describe the bug**
After installing opal-server on Windows, when trying to run the `opal-server` entry point, it failed due to `gunicorn` import error.

**To Reproduce**
- install opal-server on a Windows machine: `pip install opal-server`
- run the entry point `opal-server`

the results:
[code]

**Expected behavior**
`opal-server` will try to initial and import gunicorn only when requested by t

[2022-05-12 17:57] asafc opened #230 "Add better health check endpoint to OPAL client"
Discussion started on slack community: https://permit-io.slack.com/archives/C01RUUYV3TP/p1652374673723599

Best thing for now is to expose the result of the health check policy to the health check endpoint, but maybe we need to expand the transaction log, due to sometimes update events fail and then succeed after retry.

cc @orishavit, @RazcoDev and @singingwolfboy let's discuss this next week.

[2022-05-12 18:00] asafc commented on #229
Hi @noamisraeli thanks for the report, we currently did not check the library on windows - most users are running the docker images or on linux-based systems.

@roekatz can you take a look?

[2022-05-14 19:40] junekim3 opened #231 "docker-compose-api-policy-source-example.yml fails with an exception"
**Describe the bug**
I'm trying to run the example API policy source by executing the command:
`docker-compose -f docker-compose-api-policy-source-example.yml up`
Please note that I cloned the opal today.  So I'm working with the latest code.

I get the following exception:
"AttributeError: 'ApiPolicySource' object has no attribute 'policy_bundle_git_add_pattern'"
![2022 05 14-12 31 30-cmd](https:

[2022-05-31 21:16] tyowen opened #240 "update config source url directly during runtime"
this ticket is to track the discussion with @orweis to seek the possibility to add the functionality to update source url directly on the fly so any new opal-client instances would pick up latest policy data, without the need of external service to serve dynamic config content

[2022-06-05 19:27] prashil-g opened #241 "Issue with performance and iterating over tar policy having large number of files"
**Describe the bug**
Seeing timeout and crash of worker threads when policy tar containing large numeber of policy is pushed

**To Reproduce**
running the api source docker compose reference provided in the permitio github repo and sending policy bundle attached
[bundle.tar.gz](https://github.com/permitio/opal/files/8840604/bundle.tar.gz)

[10:54](https://permit-io.slack.com/archives/C03BJREJGBU/p

[2022-06-05 19:31] orweis commented on #241
FYI: @obsd @roekatz @asafc

[2022-06-07 14:34] nmccready opened #242 "Docs: More details into utilizing the examples"
The main readme only goes into depth for running the compose file. For those trying to experiment with http://localhost:8181/ it would be nice to have some query and scenarios to walk through.

[2022-06-07 15:43] orweis commented on #242
Good idea; though it's more of a documentation issue than a bug;  so I've updated the label.

[2022-06-07 16:06] nmccready commented on #242
Yeah i would have changed the label but I am not allowed.

[2022-07-14 05:56] asafc opened #271 "OPAL server does not replicate DataUpdate events correctly when multiple topics are included"
Issue seems to be with this line of code:

https://github.com/permitio/opal/blob/d9a91ae2f1e0b3be0e138eb73f1de6f3f2d9ae90/packages/opal-server/opal_server/data/data_update_publisher.py#L89

we should create a **reduced** update message to each topic, so that we can utilize pub sub routing correctly.

### Discussed in https://github.com/permitio/opal/discussions/270

<div type='discussions-op-text'

[2022-07-14 07:29] kunalranjan19 commented on #242
hey would love to work on it  but the localhost is not opening

[2022-07-14 07:32] orweis commented on #242
HI @kunalranjan19 - what do you by " localhost is not opening"?  Are you running the OPAL-client with OPA in place?

[2022-07-15 05:47] WellyHong opened #274 "Memory usage rises higher if opal-client fetches policy data fail"
**Describe the bug**
If opal-client fetch policy data fail, memory usage will keep increasing until it fetches data correctly.

**To Reproduce**
1. wrong **entries.url** in OPA_DATA_CONFIG_SOURCES
2. opal-client fetch policy data fail and retry constantly
3. inspect opal-client container memory usage, it gets higher and higher
4. memory won't go down even if it fetches data successfully, it keeps

[2022-07-17 15:03] asafc commented on #274
Hey @WellyHong thanks for reporting this issue!! :)

@roekatz will investigate this and we will come back to you with an answer.

[2022-07-27 11:15] roekatz commented on #274
@WellyHong I wasn't able to reproduce this locally by configuring wrong `entries.url`:
1. The opal-client shuts down instead of retrying, so memory never accumulates.
2. I get a `TimeoutError()` rather than exception in the screenshot you've shared.

What version of OPAL are you using? What did you used for "wrong" url?

[2022-07-27 19:03] jiobiagba opened #277 "PermitIO PDP Docker image failing continuously"
**Describe the bug**
I last used PermitIO pdp alongside my Permit.io account  (using the Permit.io Nodejs SDK) to implement RBAC on an app on July 12, 2022. At that time, starting the PDP locally using Docker worked fine.

However, today, I decided to try again and get the PDP running via Docker but it kept on failing repeated with the error starting with the note:
`opal_client...base_policy_store

[2022-07-27 19:56] filipermit commented on #277
Hi @jiobiagba 👋 - Thank you for highlighting this to us. We make every effort to make sure each one of our users has a smooth experience while using Permit. I will try to assist you as best I can.

From what I can see from your logs, it does seem that some keyword has been used as a rule name and thus causing this error. Let me reach out to our developers, get this sorted for you and come back wit

[2022-07-27 22:02] jiobiagba commented on #277
Hi @filipermit . Thanks a lot for your prompt response.

I'll be eagerly waiting for the update.

[2022-07-28 03:56] asafc commented on #277
Hi @jiobiagba, thanks for highlighting this to us!
Pushed a hotfix now, can you see if the PDP resumes correct work?
If not, can you try to restart is and check again? did it solve the issue?

[2022-07-28 04:03] jiobiagba commented on #277
Hi @asafc . The hotfix worked. The PDP now starts on my 2 machines. Thanks a lot for the quick resolution.

[2022-07-28 05:59] #277 closed

[2022-08-01 07:47] WellyHong commented on #274
Hi @roekatz ,

image: `permitio/opal-client-standalone`
tag: latest

the **wrong url** means opal-client cannot fetch data-source correctly, because the server cannot find corresponding data, then return http 400 status & OPAL_POLICY_TARGET_NOT_EXISTS message.

after glancing at codes, seems like it receives `on_connect` callback in **/opal-client/opal_client/data/updater.py** then call `get_base_

[2022-08-01 13:26] #184 closed

[2022-08-01 13:26] #206 closed

[2022-08-02 00:10] treysidechain opened #278 "Redis broadcaster URI does not support password authentication"
**Describe the bug**
The underlying library `broadcaster` does not support password authentication when using a redis backend, as can be seen here https://github.com/encode/broadcaster/blob/master/broadcaster/_backends/redis.py

**To Reproduce**
- Run OPAL server, setting the environment variable `OPAL_BROADCAST_URI=redis://default:<password>@<host>:<port>`
- Ensure your redis service is setup to

[2022-08-02 07:59] orweis commented on #278
When we adopted the broadcaster lib it was still maintained; but has been abandoned since we are considering to fork it and take ownership.

CC: @asafc , @roekatz

[2022-08-02 08:00] #278 closed

[2022-08-02 08:47] asafc commented on #274
Hi @WellyHong,

There might be a memory issue with the fetcher retry mechanism. The first step for us to investigate needs to be reproducing the issue on our end :)

There is no place in our codebase that returns `OPAL_POLICY_TARGET_NOT_EXISTS `. I suspect you are using an external_url in your `OPAL_DATA_CONFIG_SOURCES` and use a config server to return dynamic data sources.

Can you please send a

[2022-08-02 13:48] prashil-g commented on #241
Hi @orweis Did you find any fix for this?

[2022-08-02 17:03] obsd commented on #241
Hi @prashil-g, thanks for the detailed bug description.
Do you consider the tar file to come from a safe source (no user input on file names etc..)?

[2022-08-02 17:10] prashil-g commented on #241
We do trust the source. But that might not be the case for most users

[2022-08-03 01:43] WellyHong commented on #274
Indeed I followed [configure external data sources](https://github.com/permitio/opal/blob/master/docs/HOWTO/configure_external_data_sources.md), deployed a config server which serves different `OPAL_DATA_CONFIG_SOURCES` to individual opal-client.

deployed with kubernetes `Deployment`

- opal-client
[code]

- opal-server
[code]
- below is `OPAL_DATA_CONFIG_SOURCES`
[code]

[2022-08-03 19:05] roekatz commented on #274
@WellyHong Great! that helped me reproduce the issue.

The source of the memory leak is in our `FASTAPI Websocket RPC` library .
The client's `connect` method is retried indefinitely while not closing all relevant resources.
I've created an issue there - https://github.com/permitio/fastapi_websocket_rpc/issues/13

And I'm working to fix it soon. @WellyHong - Thanks for the report!

[2022-08-04 17:26] michivi opened #281 "Wait longer for inline OPA readiness"
(not really a bug, but I didn't how to label this)

**Describe the bug**
On some occasions, the inline OPA agent the OPAL client is spawning needs more than 4s to start. Such occasions are for example the initial startup of a VM in which we've configured the OPAL client to start automatically at boot, among other demanding services. This causes the parent OPAL client to consider communications wit

[2022-08-04 17:45] orweis commented on #281
Hi @michivi !
Thanks for the detailed report- your desired outcome here makes total sense to me, and I think you pointed out the right spot for going about fixing this (the retry config).

I think increase the amount of default retries (@asafc correct me if I'm missing something),

But better yet we can expose this into configurable value [here](https://github.com/permitio/opal/blob/master/package

[2022-08-07 18:09] michivi commented on #281
Hi @orweis
#282 is a basic implementation attempt. Python not being my primary language, I guess it could use some refinement 🙂

[2022-08-11 16:19] obsd commented on #241
@prashil-g  sorry for a long time it took me
I've pushed a suggestion that may help you, I will consult with @orweis and @asafc about it
meanwhile, I would love to hear your thoughts as well
https://github.com/permitio/opal/pull/284
Note that this is a draft PR

[2022-08-16 18:16] michivi opened #286 "Redis support (Logging of lost connections + random webhook triggers)"
**Describe the bug**
This is basically to report some weird behaviors when using OPAL with Redis:

- Regular reported Redis lost connections. Though it doesn't seem to prevent OPAL from actually using Redis, it still produces several lines of logs regularly.
- The GitHub webhook is randomly dropped when using more than one worker (though I saw someone else reported the same in the [OPAL Slack chan

[2022-08-17 08:40] asafc commented on #286
Hey @michivi thanks for reporting this bug.

OPAL uses and supports Redis via the python broadcaster package.
We are looking to move away or fork broadcaster since it's no longer actively maintained (that we can tell).

@roekatz can you please take a look?
we can fix that in our own fork of broadcaster.

[2022-08-27 14:11] lakshyabhasin509 commented on #242
Hey guys ,i would like to work on this issue , i have done the example policy setup and just trying to understand how is Opal and OPA are working.

[2022-08-27 14:18] orweis commented on #242
Hi @lakshyabhasin509 that would be wonderful, feel free to submit these as .md files in a pull request.

Let us know if you need any guidance here

FYI: @filipermit

[2022-09-06 09:30] michivi commented on #281
It seems that #282 fixes the issue (through OPAL 0.2.1): we still have one or two initial "Connection refused" messages, but the retry policy kicks in and the client eventually connects to OPA and updates the policy successfully.
Never had any issue during our 3 or 4 tests. Thanks!

[2022-09-06 09:30] #281 closed

[2022-09-19 07:24] iduras3 opened #299 "OPA Version out of date in docker-image"
opal_client-1        | 2022-09-19T06:35:52.197597+0000 | 17 | opal_client.opa.logger                  | INFO  | OPA is out of date.  {"current_version": "0.43.0", "download_opa": "https://openpolicyagent.org/downloads/v0.44.0/opa_linux_amd64", "latest_version": "0.44.0", "release_notes": "https://github.com/open-policy-agent/opa/releases/tag/v0.44.0", "time": "2022-09-19T06:35:52Z"}

[2022-09-19 09:19] jefflaunmg commented on #231
any update?

[2022-09-19 09:24] aryanchugh816 commented on #231
Just build new images using their repo. The docker images used in that compose and what are there in their official docker hub repo are not updated I think.

It ran for me after I built new images from their repo and changes names and tages in teh same compose file

[2022-09-19 10:32] orweis commented on #299
Hi @iduras3  :)
You should simply rebuild the docker image, OPAL-client (in recent versions) builds with the latest version of OPA.

[2022-09-19 10:37] orweis commented on #231
@aryanchugh816 is correct :)

In addition - this was fixed with the latest release: https://github.com/permitio/opal/releases/tag/0.2.1

[2022-09-19 10:37] #231 closed

[2022-09-19 11:45] iduras3 commented on #299
I just removed the permitio/opal-server and permitio/opal-client image and I still get that log message

[2022-09-21 15:07] iduras3 opened #300 ""detail": "policy repo was not found""
The /policy returns : "detail": "policy repo was not found", when configured for Bundle API

**To Reproduce**
OPAL_POLICY_BUNDLE_URL=...
OPAL_POLICY_SOURCE_TYPE = API

**Expected behavior**
/policy returns 200

**OPAL version**
 - Version: latest

[2022-09-21 22:46] orweis commented on #299
You need to [rebuild the image from the dockerfile](https://github.com/permitio/opal/blob/master/docker/Dockerfile) - so OPA is downloaded again - using the pre-made images won't change this.
Alternatively you can wait for the next release.

Just FYI - The warning here between versions 0.43 and 0.44 is not critical (the mentioned CVE is not relevant - due to the way OPAL uses OPA)

[2022-09-22 06:23] iduras3 commented on #299
Thx for the help

[2022-09-22 06:23] #299 closed

[2022-09-23 13:21] loan75 opened #301 "POST /data/config on OPAL client ignore the field save_method."
**Describe the bug**
Currently the field save_method in the OPAL server API 'POST /data/config' is unused.
No matter what we set, it will always perform the save_method PUT.
https://github.com/permitio/opal/blob/master/packages/opal-client/opal_client/data/updater.py#L396

**Expected behavior**
The field same_method should be used to determined how OPAL gonna push the data on OPA.
At least, i want

[2022-10-03 13:58] loan75 commented on #228
Hello,
Any update on this bug? I have the exact same issue.
Using your helmchart, i am deploying 3 clients (having all the same topic), 3 postgresql and 2 servers on a kubernetes infra.
When i trigger the POST /data/config, sometime 1-2 or 3 of the clients are notify.
Until now i was working on staging with 1 replicate on each component, but for a prod deployment it's a NOGO if the cluster mode is

[2022-10-03 19:45] orweis commented on #228
HI @loan75 - I believe this issue was fixed on most recent version of OPAL (> 0.2.0), and this ticket shoudl actually be closed.
@asafc correct me if I'm wrong

Are you setting up a broadcaster / Backbone pub/sub, and if so which one (Kafka, Postgres, Redis) ?

[2022-10-03 20:45] asafc commented on #301
Hi @loan75, welcome to our community!

This feature was not yet implemented correctly, i know @orishavit has done some work in this direction, but this is still WIP.

We will be sure to prioritize this after the holiday.
If you can manage it, we welcome code contributions :)

[2022-10-03 20:47] asafc commented on #300
hi @iduras3, can you please provide your full OPAL server API, this looks like a configuration issue.
@obsd the feature owner will assist.

[2022-10-03 20:49] asafc commented on #228
Hi @loan75,

this should be fixed in the latest version of OPAL, can you please add this config to OPAL server and let us know if it solved your issue:
[code]

are you using postgresql as broadcast backbone?

[2022-10-03 21:09] loan75 commented on #228
Hello asafc,
At the moment its using postgresql as broadcast backbone (default setup in the helmchart, so i expect it to be the most commun setup).
Ok will add this ENV and see how it behave.

[2022-10-04 08:00] orweis opened #304 "Test Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Please include steps to reproduce the bug: i.e: run OPAL, submit a realtime update through the API, etc.

Please also include:
- Full logs of opal server and opal client
- Your configuration for OPAL server and OPAL client
  - i.e: docker compose, Kubernetes YAMLs, environment variables, etc.
  - you should

[2022-10-04 09:54] iduras3 commented on #300
These two were the only settings I used. Rest should be the default. The data used was the example data from opal, in a bundle. The log showed me the correct url of the bundle location. @obsd

[2022-10-04 15:57] loan75 commented on #228
Hi, i added this Env but i got the same behavior.
Opal is in 0.2.1, i check and the env/fix is present in the opal server.
I will put all that in debug and investigate during the next few days.

[2022-10-04 22:39] ozradi commented on #228
Thanks Loan, any additional information you can share would be appreciated.

On Tue, Oct 4, 2022, 18:57 Loan ***@***.***> wrote:

[2022-10-06 07:05] obsd commented on #300
@iduras3, I will check this, are you using our docker?
If so, sharing it (without sensitive data) would help me reproduce.

[2022-10-19 13:33] obsd commented on #300
@iduras3 glad to hear that it worked

[2022-10-19 13:33] #300 closed

[2022-11-04 22:53] igorya7v opened #315 "OPA agent log level settings is not exposed via the OPAL client"
**Describe the bug**
Currently, there is no way to set the OPA agent (inline) log level via the OPAL settings.
See: https://permit-io.slack.com/archives/C01RUUYV3TP/p1667589013520999?thread_ts=1667522291.248309&cid=C01RUUYV3TP
@orishavit

**To Reproduce**
na

Please also include:
na

**Expected behavior**
The OPA agent log level is exposed via the OPAL settings.

**Screenshots**
na

**OPAL version

[2022-11-29 16:33] tothdavid opened #334 "Dependencies between policy subscription dirs"
**Describe the bug**
We have a rego repository which is structured in the way that each microservice has its own folder and in addition to this we have a shared folder which defines some common utilities. For each opal-client we have the OPAL_POLICY_SUBSCRIPTION_DIRS set to include their own folder and the shared one.
But with the above structure for some reason functions defined in the shared fol

[2022-11-29 21:12] orweis commented on #334
Hi @tothdavid thanks for reaching out :)

I think the feature you are looking for is the manifest file - see in the docs here: https://docs.opal.ac/tutorials/track_a_git_repo#policy-bundle-manifest---serving-dependant-policy-modules

Please let us know if this helps with your issue.

@filipermit - We should look to clarify this in the docs (maybe add a sub section for it under "updating policy" ?)

[2022-11-30 07:38] #334 closed

[2022-11-30 08:45] tothdavid commented on #334
Thanks! I have no idea how I have overlooked this part of the docs.

[2022-11-30 09:49] tothdavid commented on #334
Yes I checked, it works. Thanks for the help.

Also it seems like in case of a missing `.manifest` in a sub-directory referred from the root `.manifest` file the files are loaded in an alphabetical order. Maybe this is something you could add to the description of the `.manifest` file format? You could just state that the manifest file is also optional in folders referenced by a `.manifest` file t

[2022-11-30 10:50] tothdavid commented on #334
OK, I tried this as well, they are loaded last.

[2022-11-30 11:12] asafc commented on #334
@filipermit, the pointers by @tothdavid would be great addition to the docs, can you please add that?